<!-- smart grid -->
[@@@SUB-TEMPLATE:!modules/mod-auth-admins/templates/js-uix.inc.htm!@@@]
<style>
.smartGrid_Default {
}
.smartGrid_DefaultCenter {
	text-align: center !important;
}
.smartGrid_DefaultRight {
	text-align: right !important;
}
</style>
<script type="text/javascript">
	//--
	var iconColorForMsgDeleteDialog = '#333333';
	var iconForMsgDeleteDialog = 'sfi-warning';
	var msgForButtonRestore = '???';
	var msgForBtnDelete = '???';
	var msgExtraDelete = '';
	var itemType = 'Message';
[%%%IF:CURRENT-BOX:==notes;%%%]
	itemType = 'Note';
	msgExtraDelete = 'If the notes are permanently deleted from WebMail are deleted also or on the Server so they cannot be restored anymore.';
[%%%/IF:CURRENT-BOX%%%]
[%%%IF:CURRENT-BOX:?trash|notes;(1)%%%]
	iconForMsgDeleteDialog = 'sfi-bin2';
	msgForBtnDelete = 'Permanently Delete Selected ' + itemType + '(s)';
	iconColorForMsgDeleteDialog = '#ED2839';
[%%%IF:CURRENT-BOX:==trash;(2)%%%]
	msgExtraDelete = 'If the messages are permanently deleted from WebMail are deleted also or on the Mail Server so they cannot be restored anymore.';
	msgForButtonRestore = 'Restore Selected Message(s) to Inbox or Sent';
[%%%/IF:CURRENT-BOX(2)%%%]
[%%%ELSE:CURRENT-BOX(1)%%%]
	iconForMsgDeleteDialog = 'sfi-bin';
	msgForBtnDelete = 'Move Selected Message(s) to Trash';
[%%%/IF:CURRENT-BOX(1)%%%]
	//--
	var IdOfGrid = 'webmailGrid_[###CURRENT-BOX|jsvar|js###]';
	var TheGrid = new SmartGrid(IdOfGrid, 'infoTotalRows', '[###URL-PAGE|js###]&op=list-json-mbox&mbox=[###CURRENT-MBOX|url|js###]&box=[###CURRENT-BOX|url|js###]', 'webmailSlickGrdList__[###CURRENT-BOX|slug|js###]__[###CURRENT-MBOX|slug|js###]', 'date_time', 'DESC', '', 'filtering');
	//--
	function getGridSelectedRows() {
		var rowsSelected = TheGrid.grid.getSelectedRows();
		var rowsDataSelected = [];
		if((!rowsSelected) || (rowsSelected.length <= 0)) {
			return rowsDataSelected;
		}
		for(var i=0; i<rowsSelected.length; i++) {
			if(rowsSelected[i] >= 0) {
				var theRow = TheGrid.data[rowsSelected[i]];
				if(theRow && theRow['id']) {
					rowsDataSelected.push(theRow['id']);
				}
			} //end if
		} //end for
		//console.log(JSON.stringify(rowsDataSelected, null, 2));
		return rowsDataSelected;
	}
	function moveOrDeleteSelectedMessages(action, messagesArr) {
		//console.log(JSON.stringify(messagesArr, null, 2));
		var urlAction = '[###URL-PAGE|js###]&op=msgs-sel-action&action=' + smartJ$Utils.escape_url(action) + '&mbox=[###CURRENT-MBOX|url|js###]&box=[###CURRENT-BOX|url|js###]';
		var urlData = '';
		for(var i=0; i<messagesArr.length; i++) {
			urlData += '&sel[]=' + smartJ$Utils.escape_url(messagesArr[i]);
		} //end for
		var overlay = smartJ$Browser.OverlayShow();
		var ajax = smartJ$Browser.AjaxRequestFromURL(urlAction, 'POST', 'json', urlData);
		ajax.done(function(msg) {
			if((msg.hasOwnProperty('completed')) && (msg.completed === 'DONE') && (msg.hasOwnProperty('status')) && (msg.hasOwnProperty('title')) && (msg.hasOwnProperty('message')) && (msg.hasOwnProperty('js_evcode')) && (msg.hasOwnProperty('redirect'))) {
				if(msg.status === 'OK') {
					smartJ$Browser.GrowlNotificationAdd(smartJ$Utils.escape_html(msg.title), smartJ$Utils.escape_html(msg.message), '', 5000, false, 'green');
					setTimeout(function(){ smartJ$Browser.OverlayHide(); }, 500);
					TheGrid.loadGridData(0);
				} else {
					smartJ$Browser.GrowlNotificationAdd(smartJ$Utils.escape_html(msg.title), smartJ$Utils.escape_html(msg.message), '', 7500, false, 'red');
					setTimeout(function(){ smartJ$Browser.OverlayHide(); }, 500);
					TheGrid.loadGridData(0);
				}
			} else {
				smartJ$Browser.GrowlNotificationAdd('ERROR', 'Invalid JSON Answer', '', 7500, false, 'pink');
				setTimeout(function(){ smartJ$Browser.OverlayHide(); }, 500);
				TheGrid.loadGridData(0);
			}
		}).fail(function (msg) {
			smartJ$Browser.AlertDialog(smartJ$Utils.escape_html(msg.responseText), 'smartJ$Browser.OverlayHide();', 'ERROR: Invalid Server Response ', 720, 400);
			TheGrid.loadGridData(0);
		});
	}
	function handleSelectedMessages(action) {
		//--
		action = String(action);
		//--
		var messagesArr = getGridSelectedRows();
		if((!messagesArr) || (messagesArr.length <= 0)) {
			smartJ$Browser.AlertDialog('<h3>No ' + itemType + 's Selected ...</h3>', null, 'Select ' + itemType + '(s)', 480, 200);
			return;
		} //end if
		//--
		switch(action) {
			case 'delete':
				smartJ$Browser.ConfirmDialog('<div style="position:absolute; right:20px; top:0; color:' + smartJ$Utils.escape_html(iconColorForMsgDeleteDialog) + ';"><i class="sfi ' + smartJ$Utils.escape_html(iconForMsgDeleteDialog) + ' sfi-2x"></i></div><h3>' + smartJ$Utils.escape_html(msgForBtnDelete) + '&nbsp;?</h3>' + (msgExtraDelete ? '<div style="font-size:0.825rem!important; color:#F2891F;"><i class="sfi sfi-notification"></i> &nbsp; <b>' + smartJ$Utils.escape_html(msgExtraDelete)  + '</b></div>' : ''), function(){ moveOrDeleteSelectedMessages(action, messagesArr) }, 'Selected Message(s): ' + String(messagesArr.length), 600, 275);
				break;
			case 'restore':
				smartJ$Browser.ConfirmDialog('<div style="position:absolute; right:20px; top:0; color:#FF9900;"><i class="sfi sfi-folder-upload sfi-2x"></i></div><h3>' + smartJ$Utils.escape_html(msgForButtonRestore) + '&nbsp;?</h3>' + '<div style="font-size:0.825rem!important; color:#F2891F;"><i class="sfi sfi-notification"></i> &nbsp; If there are selected <b>messages</b> that are <b>marked with the Trash icon</b> they <b>cannot be restored</b> as they have an unknown origin. <i>Only the messages that have been moved to Trash from the WebMail\'s Inbox or Sent folders can be restored back and they are marked with a different icon</i>.</div>', function(){ moveOrDeleteSelectedMessages(action, messagesArr) }, 'Selected Message(s): ' + String(messagesArr.length), 600, 280);
				break;
			default:
				var warnMsg = 'Invalid Select Action: ' + action;
				if(jQuery.alertable) {
					jQuery.alertable.alert(warnMsg).always(function(){});
				} else {
					alert(warnMsg);
				} //end if else
				return;
		} //end switch
		//--
	}
	//--
</script>
<form id="filtering" name="filtering" class="ux-form">
	<table class="ux-reflow-table">
		<tr>
			<td>
				[%%%IF:CURRENT-BOX:==trash;%%%]
				<button type="button" class="ux-button ux-button-highlight" onClick="handleSelectedMessages('restore');" title="Restore Selected Messages (back to Inbox or Sent)"><i class="sfi sfi-folder-upload"></i></button>
				[%%%/IF:CURRENT-BOX%%%]
				<button type="button" class="ux-button ux-button-[%%%IF:CURRENT-BOX:?trash|notes;%%%]special[%%%ELSE:CURRENT-BOX%%%]special[%%%/IF:CURRENT-BOX%%%]" onClick="handleSelectedMessages('delete');" title="[%%%IF:CURRENT-BOX:?trash|notes;%%%]Delete Selected Messages[%%%ELSE:CURRENT-BOX%%%]Move Selected Messages to Trash[%%%/IF:CURRENT-BOX%%%]"><i class="sfi sfi-[%%%IF:CURRENT-BOX:?trash|notes;%%%]bin2[%%%ELSE:CURRENT-BOX%%%]bin[%%%/IF:CURRENT-BOX%%%]"></i></button>
			</td>
			<td>
			<select name="srcby" id="filter-srcby" class="ux-input-def ux-input-1-4">
				<option value="" title="Select from below">* Filter By: *:</option>
				<option value="from_addr">From (address)</option>
				<option value="from_name">From (name)</option>
				<option value="to_addr">To (address)</option>
				<option value="to_name">To (name)</option>
				<option value="msg_subj">Subject</option>
				<option value="date_time">Date / Time</option>
				<option value="keywds">KeyWords</option>
				<option value="atts">Attachments</option>
			</select>
			</td>
			<td>
				<input type="text" id="filter-src" name="src" placeholder="Search Value" value="" class="ux-input-def" style="width:99%;">
			</td>
			<td>
				<button type="button" class="ux-button ux-button-details" onClick="TheGrid.loadGridData(0);" title="Filter Results">Filter &nbsp; <i class="sfi sfi-search"></i></button>
			</td>
			<td>
				<button type="button" class="ux-button ux-button-secondary" onClick="TheGrid.resetGrid(); TheGrid.loadGridData(0);" title="Remove Filter (display all results)">Reset &nbsp; <i class="sfi sfi-history"></i></button>
			</td>
			<td>
				<div style="width:32px;">&nbsp;</div>
			</td>
			<td>
				<span style="color:#333333; font-size:16px; font-weight:bold;">[###CURRENT-BOX|ucfirst|html###]&nbsp;/&nbsp;[###CURRENT-MBOX|html###]<br><span style="color:#778899;">Messages List :: <span id="infoTotalRows"># / # @</span></span></span>
			</td>
		</tr>
	</table>
</form>
<div id="webmailNavPager"></div>
<form class="ux-form"><div id="webmailGrid_[###CURRENT-BOX|jsvar|html###]" class="slickgrid-table" style="width:100%;height:10px;"></div></form>
<script type="text/javascript">
jQuery(function() {

	// Formatters
	function formatter_ID(row, cell, value, columnDef, dataContext) {
		value = dataContext['@link'] || '#';
		var color = '#333333';
		var rcolor = '#777777';
		if(dataContext['stat_read'] <= 0) {
			color = '#FF5500';
		} //end if else
		var itemType = 'Message';
		if(String(dataContext['ifolder']) == 'notes') {
			itemType = 'Note';
		}
		return '<button title="Display ' + smartJ$Utils.escape_html(itemType) + '" style="margin:0px; margin-top:-2px;" class="ux-button ux-button-xsmall" onClick="jQuery(this).children().first().css({\'color\':\'' + smartJ$Utils.escape_js(rcolor) + '\'}); smartJ$Browser.PopUpLink(\'' + smartJ$Utils.escape_js(value) +'\', \'webmail_view_msg\'); return false;"><i class="sfi sfi-mail" style="color:' + smartJ$Utils.escape_html(color) + ';"></i></button>';
	}
	function formatter_iFolderBox(row, cell, value, columnDef, dataContext) {
		var iFolderIcon = 'sfi sfi-warning';
		var iFolderDesc = '?';
		var iFolderColor = '#000000';
		switch(String(dataContext['ifolder'])) {
			case 'inbox':
				iFolderIcon = 'sfi sfi-download2';
				iFolderDesc = '&darr; INBOX';
				iFolderColor = '#337AB7';
				break;
			case 'sent':
				iFolderIcon = 'sfi sfi-upload2';
				iFolderDesc = '&uarr; Sent';
				iFolderColor = '#AAAAAA';
				break;
			case 'trash':
				iFolderIcon = 'sfi sfi-bin';
				iFolderDesc = '&rarr; Trash';
				iFolderColor = '#778899';
				break;
			case 'notes':
				if(dataContext['stat_read'] > 1) {
					iFolderIcon = 'sfi sfi-files-empty';
					iFolderDesc = '&searr; Notes (EXPIRED Rev. #' + smartJ$Utils.escape_html(dataContext['stat_read']) + ')';
					iFolderColor = '#AAAAAA';
				} else {
					iFolderIcon = 'sfi sfi-file-text2';
					iFolderDesc = '&searr; Notes (HEAD Rev. #' + smartJ$Utils.escape_html(dataContext['stat_read']) + ')';
					iFolderColor = '#555555';
				} //end if else
				break;
			default:
				// invalid folder icon
		} //end switch
		return '<center><div title="' + iFolderDesc + ':' + ' ' + smartJ$Utils.escape_html(dataContext['msg_id']) + '" style="cursor:help; color:' + smartJ$Utils.escape_html(iFolderColor) + ';"><i class="' + smartJ$Utils.escape_html(iFolderIcon) + '"></i></div></center>';
	}
	function formatter_Atts(row, cell, value, columnDef, dataContext) {
		value = value || '0';
		var atts = 'Attachments: ' + value;
		if(value != 1) {
			value = '';
		} else {
			value = '<center><div title="' + smartJ$Utils.escape_html(atts) + '" style="cursor:help;"><i class="sfi sfi-attachment"></i></div></center>';
		} //end
		return String(value);
	}
	function formatter_FromAll(row, cell, value, columnDef, dataContext) {
		var addr = value || '';
		addr = smartJ$Utils.stringTrim(addr);
		var name = dataContext['from_name'] || '';
		name = smartJ$Utils.stringTrim(name);
		if(name == addr) {
			name = '';
		}
		return '<b>' + smartJ$Utils.escape_html(addr ? addr : '?') + '</b>' + (name ? (' <i>' + smartJ$Utils.escape_html(name) + '</i>') : '');
	}
	function formatter_ToAll(row, cell, value, columnDef, dataContext) {
		var addr = value || '';
		addr = smartJ$Utils.stringTrim(addr);
		var name = dataContext['to_name'] || '';
		name = smartJ$Utils.stringTrim(name);
		if(name == addr) {
			name = '';
		}
		return '<b>' + smartJ$Utils.escape_html(addr ? addr : '?') + '</b>' + (name ? (' <i>' + smartJ$Utils.escape_html(name) + '</i>') : '');
	}
	function formatter_UUid(row, cell, value, columnDef, dataContext) {
		var uuid = dataContext['msg_id'] || '';
		var color = '#111111';
		if(dataContext['stat_read'] > 1) {
			color = '#777777';
		}
		return uuid ? '<small style="color:' + smartJ$Utils.escape_html(color) + '">' + smartJ$Utils.escape_html(uuid) + '</small>' : '';
	}

	// Grid Data Defs
	var columns;
	[%%%IF:CURRENT-BOX:==notes;%%%]
	columns = [
		{id:'msg_inreply', field:'msg_inreply', name:'Id.', sortable:true, width:20, cssClass:'smartGrid_AlignCenter', formatter:formatter_ID}, // unselectable:true (sort is used for message-id)
		{id:'ifolder', field:'ifolder', name:'Box', sortable:true, width:20, cssClass:'smartGrid_AlignCenter', formatter:formatter_iFolderBox},
		{id:'have_atts', field:'have_atts', name:'Att', sortable:true, width:20, formatter:formatter_Atts},
		{id:'from_addr', field:'from_addr', name:'Author', sortable:true, width:75, cssClass:'smartGrid_Default', formatter:formatter_FromAll, editor:TextCellSelector},
		{id:'msg_id', field:'msg_id', name:'Uuid', sortable:true, width:125, cssClass:'smartGrid_DefaultCenter', formatter:formatter_UUid, editor:TextCellSelector},
		{id:'msg_subj', field:'msg_subj', name:'Subject', sortable:true, width:230, cssClass:'smartGrid_Default', editor:TextCellSelector},
		{id:'date_time', field:'date_time', name:'DateTime', sortable:true, width:100, cssClass:'smartGrid_DefaultCenter', editor:TextCellSelector},
		{id:'size_kb', field:'size_kb', name:'Size KB', sortable:true, width:70, cssClass:'smartGrid_DefaultRight', editor:TextCellSelector},
	];
	[%%%ELSE:CURRENT-BOX%%%]
	columns = [
		{id:'msg_id', field:'msg_id', name:'Id.', sortable:true, width:20, cssClass:'smartGrid_AlignCenter', formatter:formatter_ID}, // unselectable:true (sort is used for message-id)
		{id:'ifolder', field:'ifolder', name:'Box', sortable:true, width:20, cssClass:'smartGrid_AlignCenter', formatter:formatter_iFolderBox},
		{id:'have_atts', field:'have_atts', name:'Att', sortable:true, width:20, formatter:formatter_Atts},
		{id:'from_addr', field:'from_addr', name:'From', sortable:true, width:100, cssClass:'smartGrid_Default', formatter:formatter_FromAll, editor:TextCellSelector},
		{id:'to_addr', field:'to_addr', name:'To', sortable:true, width:100, cssClass:'smartGrid_Default', formatter:formatter_ToAll, editor:TextCellSelector},
		{id:'msg_subj', field:'msg_subj', name:'Subject', sortable:true, width:230, cssClass:'smartGrid_Default', editor:TextCellSelector},
		{id:'date_time', field:'date_time', name:'DateTime', sortable:true, width:100, cssClass:'smartGrid_DefaultCenter', editor:TextCellSelector},
		{id:'size_kb', field:'size_kb', name:'Size KB', sortable:true, width:70, cssClass:'smartGrid_DefaultRight', editor:TextCellSelector},
	];
	[%%%/IF:CURRENT-BOX%%%]

	//-- Grid Options
	var options = {
		enableAddRow: false,
		enableCellNavigation: true,
		enableColumnReorder: false,
		enableAsyncPostRender: true,
		forceFitColumns: false,
		asyncPostRenderDelay: 15,
		rowHeight: 26,
		editable: true,
		autoEdit: false,
	//	enableTextSelectionOnCells: false,
		asyncEditorLoading: false
	};

	//-- Runtime
	TheGrid.initNavPager('webmailNavPager', 3);
	TheGrid.initGrid(columns, options);
	TheGrid.loadGridData(0);

	//-- Grid Sizing
	var resizeTheGrid = function() {
		//--
		var winW = parseInt(jQuery(window).width());
		var winH = parseInt(jQuery(window).height());
		//--
		var getWDiff = Math.ceil(SmartCloud_DynLayout_Vertical_DynamicBar.getBarWidth()) + 60;
		var getHDiff = 210;
		//--
		jQuery('#' + IdOfGrid).css({ 'width': Math.floor(winW - getWDiff), 'height':  Math.floor(winH - getHDiff) });
		//--
		TheGrid.grid.resizeCanvas();
		TheGrid.grid.autosizeColumns();
		//--
	} //end function

	//-- Grid Re-Sizing
	jQuery('#cloud_dynlayout_resizer_div').resize(function() {
		resizeTheGrid();
	});

	//-- Render
	setTimeout(function(){ resizeTheGrid(); }, 100);

});
//--
</script>