<!-- cart sortable r.20230123 -->
<link href="modules/mod-wflow-components/views/jquery/jquery.sortable.css" rel="stylesheet">
<script src="modules/mod-wflow-components/views/jquery/jquery.sortable.js"></script>
<script>
jQuery(document).ready(function(){

try {
	jQuery('table#cart-table').sortable({
		containerSelector: 'table',
		itemPath: '> tbody',
		itemSelector: 'tr.cart-row',
		pullPlaceholder: false,
	});
} catch(err) {
	console.log('ERROR: Cart Sortable:', err);
}

});
</script>
<!-- cart sortable #end -->